/*    DARK MODE     */
:root body.dark-mode {
  --color: #fff;
  --background: #111823;
  --footer: #0c1016;
  --header: #1051b944;
  --lab: #1D2E49;
  --tab: #111823;
  --movies-tab: #2D3C52;
  --text-tab: #656F7E;
  --text-color-tab: #656F7E;

  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --bg-color2: rgba(255, 255, 255, 0.1);
}

:root body.light-mode {
  --color: #0b0a0a;
  --background: #989ea8;
  --footer: #cad2de;
  --header: #8fabda72;
  --lab: #d7d9dc;
  --tab: #858a9a;
  --movies-tab: #969696;
  --text-tab: #0a0a0b;
  --text-color-tab: #2c2c2d;

  --bg-color: rgb(20, 20, 20);
  --card-color: #09378044;
  --bg-color2: rgba(249, 245, 245, 0.6);
  color: #0a0a0b;
}

:root body.light-mode .fa-solid,
body.light-mode i,
body.light-mode .card-info-title>h4 {
  color: #0c1016;
}


body {
  align-items: center;
  background-color: var(--background);
  display: block;
  height: auto;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

#cards {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: var(--bg-color2);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info>i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title>h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title>h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image>i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info>i {
    font-size: 0.8em;
  }

  .card-info-title>h3 {
    font-size: 0.9em;
  }

  .card-info-title>h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}

/*
footer a.text-light:hover {
  color: var(--text-color-tab) !important;
  text-decoration: none;
}

footer .cizgi {
  border-right: 1px solid var(--tab);
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
*/
