h2,
label {
  color: white;
}

p {
  color: rgb(176, 173, 173);
}

input[type="submit"] {
  background: transparent;
  color: rgb(247, 247, 247);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
